<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入echarts -->
  <script src="../../../../node_modules/echarts/dist/echarts.js"></script>
  <!-- 设置主题颜色 -->
  <script src="../../../../node_modules/echarts/theme/fruit.js"></script>
</head>
<body>
  <!-- 容器:展示图标的地方 -->
  <div id="main" style="width: 600px;height:400px;"></div>
</body>
</html>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例  第二个参数用于设置主题颜色
  var myChart = echarts.init(document.getElementById('main'));

  // 指定图表的配置项和数据
  var option = {
      //标题
      title: {
          text: '0415军事总结',
          subtext:'卖航母',
          backgroundColor:'yellow',
          subtextStyle:{
            color:'skyblue'
          }
      },
     
      //提示框组件
      tooltip: { 
       axisPointer:{
         type:'cross'
       }
      },
      
      legend: {
          data:['销量',"军事"]
      },
      xAxis: {
          data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"],
          boundaryGap:false
      },
      yAxis: {},
      //系列
      series: [{
          name: '销量',
          type: 'line',
          data: [5, 20, 36, 10, 10, 20]
      },
      {
          name: '军事',
          type: 'line',
          data: [15, 220, 316, 110, 120, 260],
          itemStyle:{
            color:'red'
          },
          //只能改线的颜色，黑色盒子前面球的颜色不能变
          lineStyle:{
            color:'blue'
          },
          areaStyle:{
            color:'purple'
          }
      }
    ]
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
</script>